h1 {
  color: olive;
  font-size: 400%;
  text-indent: 350px;
  font-family: monospace;
}
p {
  font-family: monospace;
  font-size: 150%;
  text-indent: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
img {
  width: 300px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
#content {
  border: dotted 8px;
  border-color: teal;

 .row {
   display: flex;
 }

 .homepage {
    flex: 33.33%;
    padding: 5px;
 }
